@import url('//fonts.2w.vc/suit/static/font.css');
@import url('//fonts.2w.vc/suite/static/font.css');

$screen: 800px;

* {
  margin: 0;
  padding: 0;
  font-family: 'SUIT', 'sans-serif';

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  touch-action: manipulation;
  user-select: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

html,
body {
  width: 100%;
  height: 100vh;
  background: #000000;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

div {
  position: relative;
  display: flex;
  flex-direction: column;
}

#loading {
  position: absolute;
  z-index: 20;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-position: 50% 90%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  @media (min-width: $screen) {
    opacity: 0 !important;
  }

  &.breakfast {
    z-index: 5;
    background-image: url('../img/breakfast.svg');
  }

  &.lunch {
    z-index: 4;
    background-image: url('../img/lunch.svg');
  }

  &.dinner {
    z-index: 3;
    background-image: url('../img/dinner.svg');

    @media (min-width: $screen) {
      opacity: 1 !important;
    }
  }
}

#app {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 100%;
  height: calc(calc(100% - calc(env(safe-area-inset-top) + 16px)) - calc(env(safe-area-inset-bottom) + 16px));
  max-width: $screen;

  padding-top: calc(env(safe-area-inset-top) + 16px);
  padding-bottom: calc(env(safe-area-inset-bottom) + 16px);
  gap: 16px;

  @media (min-width: $screen) {
    max-width: 1500px;
    max-height: 900px;

    width: calc(100% - 32px);
    height: calc(calc(100% - calc(env(safe-area-inset-top) + 32px)) - calc(env(safe-area-inset-bottom) + 32px));
    padding-top: calc(env(safe-area-inset-top) + 32px);
    padding-bottom: calc(env(safe-area-inset-bottom) + 32px);
  }

  #control {
    flex-direction: row;
    padding: 0 16px;
    gap: 16px;

    @media (min-width: $screen) {
      order: 0;

      #date {
        order: 0;
      }

      #pre {
        order: 1;
      }

      #next {
        order: 2;
      }
    }

    >* {
      width: 50px;
      height: 50px;
      cursor: pointer;
      flex: 1;

      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 32px;
    }

    #date {
      font-family: 'SUITE', 'sans-serif';
      font-size: 22px;
      font-weight: 700;

      align-items: center;
      justify-content: center;

      text-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    }

    #pre {
      max-width: 50px;
      width: 50px;
      background-image: url('../icon/arrow-left.svg');
      filter: drop-shadow(0 0 12px rgb(0 0 0 / 0.2));
    }

    #next {
      max-width: 50px;
      width: 50px;
      background-image: url('../icon/arrow-right.svg');
      filter: drop-shadow(0 0 12px rgb(0 0 0 / 0.2));
    }
  }

  #scroll {
    flex: 1;
    display: block;
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;

    @media (min-width: $screen) {
      display: flex;
      flex-direction: row;
      scroll-snap-type: unset;
      order: 1;
    }

    #list {
      height: 100%;
      width: calc(300vw - 32px);
      max-width: clac(calc($screen * 3) - 32px);
      flex-direction: row;

      padding: 0 16px;
      gap: 32px;

      @media (min-width: $screen) {
        gap: 16px;
      }

      #item {
        width: calc(100vw - 32px);
        max-width: ($screen - 32px);
        padding: 16px;
        scroll-snap-align: center;
        scroll-snap-stop: always;
        overflow-y: auto;

        @media (min-width: $screen) {
          flex: 1 1 0px;
          width: unset;
          max-width: unset;
        }

        &.breakfast {
          #title::before {
            background-image: url('../icon/breakfast.svg');
          }
        }

        &.lunch {
          #title::before {
            background-image: url('../icon/lunch.svg');
          }
        }

        &.dinner {
          #title::before {
            background-image: url('../icon/dinner.svg');
          }
        }

        #inner {
          gap: 16px;

          #title {
            font-family: 'SUITE', 'sans-serif';
            font-size: 32px;
            font-weight: 700;
            text-shadow: 0 0 12px rgba(0, 0, 0, 0.1);

            flex-direction: row;
            align-items: center;
            gap: 8px;

            &::before {
              content: "";
              width: 32px;
              height: 32px;
              background-position: 50% 50%;
              background-repeat: no-repeat;
              background-size: 32px;
              filter: drop-shadow(0 0 12px rgb(0 0 0 / 0.2));
            }
          }

          #menu {
            gap: 8px;

            #dish {
              flex-direction: row;
              gap: 8px;

              line-height: 1.4;
              text-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
            }
          }
        }
      }
    }
  }

  .glass {
    background: rgba(255, 255, 255, 0.2);
    border: rgba(255, 255, 255, 0.1) 3px solid;
    border-radius: 15px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  }
}